*.egg*
*.log
*.mo
*.pyc
*.swo
*.swp
*~
.venv
build/*
dist/*
etc/test.conf
.tox/
.testrepository/
*.deb
*.rpm
.coverage
coverage.xml
debhelper-build-stamp
**/debian/files
*.substvars
debian/python-cloud-info-provider/
debs/cloud-info-provider-opennebula/debian/python-cloud-info-provider-opennebula/
debs/cloud-info-provider-openstack/debian/python-cloud-info-provider-openstack/
